name: Generate Sitemap

on:
  push:
    branches: [ "main" ]   # or "master" depending on your repo
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Generate sitemap.xml
      uses: cicirello/generate-sitemap@v1.10.4
      with:
        base-url: "https://uiuckiwb.github.io/uiuckiwb.github.io"   # <-- change this

    - name: Commit and push sitemap
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add sitemap.xml
        git commit -m "Update sitemap" || exit 0
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
